<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form action="/register" method="post">
            <input type="text" name="new_username" placeholder="Новый логин" required>
            <input type="password" name="new_password" placeholder="Новый пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <button onclick="window.location.href='/login'">Назад</button>
    </div>
</body>
</html>